.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  font-size: 16px;
  font: cabinet-grotesk, sans-serif;
  line-height: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  padding: 0 0 28px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__close-icon {
  width: 16px;
  height: 16px;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
}

.modal__content_type_image {
  padding: 0;
  margin: 0;
}

.modal__form {
  margin: 0;
  padding: 0;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.modal__input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  padding-top: 8px;
}

.modal__legend {
  width: 100%;
  padding: 0 0 12px;
  margin: 0;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__radio-buttons {
  margin: 0;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__submit {
  width: 124px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 4px;
}

.modal__caption {
  margin: 0;
}

.modal__footer {
  background-color: #fff;
  margin: 0;
  padding: 0;
}
